__pycache__
instance
*.pyc
*.pyo
*.pyd
migrations
*.sqlite3
*.log
*.db
*.env
*.DS_Store
.vscode
routes/__pycache__
tools
*.pot
*.mo
routes/oauth.py
static/profile_pics
static/uploads
commands.txt
py-to-exemfc.json
